/* ----------- BASE ----------- */
body{
  font-family: "Poppins", sans-serif;
  background:#fafafa;
  background:url('https://images.unsplash.com/photo-1553621042-f6e147245754') center/cover no-repeat;
  color:#333;
}


/* ----------- NAV MENU ----------- */
.menu{
  background:#2a2a2a;
  padding:1px;
}

.menu ul{
  list-style:none;
  margin-left:40pc;
  padding:2px;
  display:flex;
}

.menu a{
  color:white;
  text-decoration:none;
  font-weight:600;
  padding:8px 12px;
  border-radius:6px;
  transition:0.25s;
}

.menu a:hover{
  background:#c62828;
}

/* ----------- SECTIONS ----------- */
section{
  max-width:900px;
  background:white;
  padding:30px;
  border-radius:10px;
  box-shadow:0 8px 22px rgba(0,0,0,0.1);
  display:none; /* caché par défaut */
}

section:target{
  display:block; /* affiche la section cliquée */

}

section h2{
  font-size:28px;
  color:#c62828;
  border-left:6px solid #c62828;
  padding-left:10px;
  margin-bottom:20px;
 
}

/* ----------- MENUS / CARDS ----------- */
.menu-items{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
  gap:20px;
}

.menu-card{
  background:white;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 4px 14px rgba(0,0,0,0.1);
  transition:0.25s;
}

.menu-card img{
  width:100%;
  height:160px;
  object-fit:cover;
}

.menu-card h3{
  margin:12px;
  text-align:center;
}

/* ----------- GALERIE ----------- */
.galerie-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(220px,1fr));
  gap:15px;
}

.galerie-grid img{
  width:100%;
  height:170px;
  object-fit:cover;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,0.2);
  transition:0.3s;
}

.galerie-grid img:hover{
  transform:scale(1.05);
}

/* ----------- SOCIAL LINKS ----------- */
.social-links{
  display:flex;
  gap:15px;
}

.social-links a{
  background:#c62828;
  padding:10px 15px;
  color:white;
  border-radius:6px;
  text-decoration:none;
  font-weight:600;
  transition:0.25s;
}

.social-links a:hover{
  background:#a32121;
}

/* ----------- FORMULAIRE ----------- */
form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

form input,
form textarea{
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
  font-size:16px;
}

button{
  background:#c62828;
  color:white;
  padding:12px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
}

button:hover{
  background:#a32121;
}
.page{
    margin-top:26pc;
    margin-left:65pc;
    color: #9e0c6d;
}
